.main {
    display: grid;
    gap: $row-gap $col-gap;

    @include break(lg) {
        grid-template-columns: 1fr 1fr;

        & > * {
            grid-column: 1 / 3;
        }    
    }
}

.chapter {
    background-color: $content-block-bg-color;
    background-image: url(../images/border-primary.png), url(../images/border-complementar.png);
    background-repeat: repeat-x;
    background-size: 12px 12px; 
    background-position: top, bottom;

    padding: 1.5rem 1rem;

    &>*:first-child {
        margin-top: 0;
    }

    &>*:last-child {
        margin-bottom: 0;
    }
}
