@use 'sass:color';

$breakpoints: (
    "sm": $breakpoint-sm,
    "md": $breakpoint-md,
    "lg": $breakpoint-lg,
    "xl": $breakpoint-xl,
    "xxl": $breakpoint-xxl
);

@mixin break($breakpoint) {
    @if  map-has-key($breakpoints, $breakpoint) {
        @media (min-width:  map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }
}

@mixin background-color($color, $lightness_percent: null, $blackness_percent: null) {
    @if ($lightness_percent) {
        background-color: color.scale($color, $lightness: $lightness_percent);
    } @else {
        background-color: color.scale($color, $blackness: $blackness_percent);
    }
}

@mixin color($color, $lightness_percent: null, $blackness_percent: null) {
    @if ($lightness_percent) {
        color: color.scale($color, $lightness: $lightness_percent);
    } @else {
        color: color.scale($color, $blackness: $blackness_percent);
    }
}


@mixin button($name, $color, $background, $active) {
    .btn--#{$name} {
        font-weight: 600;
        color: $color;
        background-color: $background;
        border-color: $background;
    
        &:hover,
        &:active {
            color: $color;
            background-color: $active;
            border-color: $active;
        }
    
        &:focus {
            box-shadow: 0 0 0 3px transparentize($active, .75);
        }
    }
}