.sidebar {
    background-color: $content-block-bg-color;

    background-image: url(../images/border-primary.png), url(../images/border-complementar.png);
    background-repeat: repeat-x;
    background-size: 12px 12px; 
    background-position: top, bottom;

    padding: 1.5rem 1rem;
    text-align: center;

    &>*:first-child {
        margin-top: 0;
    }

    &>*:last-child {
        margin-bottom: 0;
    }
}

.author__photo {
    max-width: 100%;
}

.author__links {
    display: flex;
    justify-content: center;
    margin: 0 #{calc(-1 * $col-gap / 2)};
}

.author__link {
    margin: 0 #{calc($col-gap / 2)}
}
