<h3 class="repository__title">Mixiner</h3>
<em class="repository__date">Latest code changes: <time datetime="2018-01-03 13:15:57">2018-01-03</time></em>
<p class="repository__description">
    <em class="alert-text">
    This package has been deprecated.
    Please use TypeScript <a href="https://www.typescriptlang.org/docs/handbook/mixins.html">mixins</a>.
    </em>
</p>
<p class="repository__description">Mixiner is a fast and small javascript library, that implement mixins in TypeScript or JavaScript classes.<p>
<div class="repository__tags">
    <span class="repository__tag">TypeScript</span>
    <span class="repository__tag">JavaScript</span>
</div>
<a class="repository__link btn btn--primary" href="https://github.com/shvabuk/mixiner"><i class="bi bi-github"></i> Repository</a>
