<section class="sidebar">
    <img class="author__photo" src="assets/images/author.jpg" alt="Ostap Shvab">

    <h2>Welcome!</h2>
    <p>My name is Ostap Shvab. 
    <br>I'm a web developer with a passion for writing simple and clean code.
    <br>With a mission to help empower humanity, I create high-quality, modern and accessible websites.</p>

    <div class="author__links">
        <a class="author__link" href="{{ contact_linkedin }}">LinkedIn</a>
        <a class="author__link" href="{{ github_repository }}">Github</a>
        <a class="author__link" href="mailto:{{ contact_email }}">Email</a>
    </div>
</section>
