// colors
$white:         #eee !default;
$black:         rgb(0, 0, 0) !default;
$grey:          #888 !default;
$grey-light:    #ddd !default;
$grey-dark:     rgb(50, 50, 50) !default;
$yellow:        #eedc94 !default;
$yellow-dark:   #e4c652 !default;

$black-transparent:         rgba(0, 0, 0, .5) !default;
$black-much-transparent:    rgba(0, 0, 0, .31) !default;
$white-transparent:         rgba(255, 255, 255, .2) !default;
$grey-much-transparent:    rgba(100, 100, 100, .1) !default;
$grey-less-transparent:     rgba(100, 100, 100, .9) !default;
$white-much-transparent:    rgba(255, 255, 255, .3) !default;

$primary:           #337ab7 !default;
$primary-hover:     #44a2f2 !default;
$success:           #5cb85c !default;
$success-hover:     #36d136 !default;

$gradientswitch-0:      #0087c9 !default;
$gradientswitch-16:     #ef4a53 !default;
$gradientswitch-32:     #ffb463 !default;
$gradientswitch-49:     #33d5d4 !default;
$gradientswitch-65:     #254356 !default;
$gradientswitch-81:     #5b4097 !default;
$gradientswitch-100:    #0087c9 !default;
