<h3 class="repository__title">Line lenght analysis</h3>
<em class="repository__date">Initial commit: <time datetime="2024-03-20 21:00:00">2024-03-20</time></em>
<p class="repository__description">
    A library for simple code line lenght analysis.<br>
    <a href="analyser.html">Example</a>.
</p>
<div class="repository__tags">
    <span class="repository__tag">JavaScript</span>
</div>
<a class="repository__link btn btn--primary" href="https://github.com/shvabuk/line-length-analyser"><i class="bi bi-github"></i> Repository</a>
