<h3 class="repository__title">Satellite tracker</h3>
<em class="repository__date">Initial commit: <time datetime="2024-03-04 23:00:00">2024-03-04</time></em>
<p class="repository__description">
A library that shows the location of the ISS relative to the Earth.
</p>
<div class="repository__tags">
    <span class="repository__tag">JavaScript</span>
</div>
<a class="repository__link btn btn--primary" href="https://github.com/shvabuk/satellite-tracker"><i class="bi bi-github"></i> Repository</a>
