<h3 class="repository__title">shvabuk.github.io</h3>
<em class="repository__date">Initial commit of the updated version: <time datetime="2023-11-21 20:00:00">2023-11-21</time></em>
<p class="repository__description">
A GitHub repository that provides HTML, CSS, and JavaScript files and contains the source code for this website.<p>
<div class="repository__tags">
    <span class="repository__tag">Twig</span>
    <span class="repository__tag">HTML</span>
    <span class="repository__tag">SCSS</span>
    <span class="repository__tag">JavaScript</span>
</div>
<a class="repository__link btn btn--primary" href="https://github.com/shvabuk/shvabuk.github.io"><i class="bi bi-github"></i> Repository</a>
