<h3 class="repository__title">Skeleton</h3>
<em class="repository__date">V 2.0 commit: <time datetime="2024-03-02 16:00:00">2024-03-02</time></em>
<p class="repository__description">
A simple project skeleton.
</p>
<div class="repository__tags">
    <span class="repository__tag">Twig</span>
    <span class="repository__tag">HTML</span>
    <span class="repository__tag">SCSS</span>
    <span class="repository__tag">JavaScript</span>
</div>
<a class="repository__link btn btn--primary" href="https://github.com/shvabuk/skeleton"><i class="bi bi-github"></i> Repository</a>
