{%
  set header_pages = [
        {
        "slug": "analyser",
        "name": "Line length analyser",
        "link": "analyser.html",
    },
    {
        "slug": "ui-kit",
        "name": "UI kit",
        "link": "ui-kit.html",
    },
    {
        "slug": "privacy-policy",
        "name": "Privacy policy",
        "link": "privacy-policy.html",
    },
  ]
%}

<div class="container conainer--navigation">
    <a class="btn btn--primary" href="index.html">Home</a>
    <button id="burger" class="navbar-toggler collapsed" type="button" data-collapse-target="#navbar-wrapper"
        aria-controls="navbar-wrapper" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler__icon"></span>
    </button>
    <div class="collapse navbar-wrapper" id="navbar-wrapper">
        <ul class="navbar">
            {% for page in header_pages %}
                {% set active = (page.slug == slug) ? " active": "" %}
                <li class="navbar__item">
                    <a class="navbar__link{{ active }}" href="{{ page.link }}">{{ page.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
