{% extends "_base.twig" %}

{% set slug = 'index' %}
{% set link = 'index.html' %}
{% set head_page_name = 'Homepage' %}
{% set head_page_description = 'Homepage.' %}

{%
  set repositories = [
    "repositories/_line-length-analyser.twig",
    "repositories/_satellite-tracker.twig",
    "repositories/_skeleton.twig",
    "repositories/_shvabuk.github.io.twig",
  ]
%}

{% block content %}
<div class="chapter">
    <h2>Future plans:</h2>

    <ul>
        <li>Write a couple of plugins for WordPress for demonstration purposes (PHP, JS, SCSS). It can be an accordion, a calendar widget, a cron-related admin panel tool, etc.</li>
        <li>Write a script to check the year in the licence files.</li>
    </ul>
</div>

<div class="chapter">
    <h2>Repositories:</h2>

    <div class="repositories">
        {% for repository in repositories %}
            <div class="repository">
                {% include repository %}
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
